if config.description
  meta(name="description" content=config.description)
if page.description
  meta(name="description" content=page.description)
if page.title
  meta(name="description" content=page.title)
if config.keywords
  meta(name="keywords" content=config.keywords)
//- if page.categories
//-   meta(name="keywords" content=page.categories)
//- meta(name="keywords" content=tags)
//- if page.tags
//-   each tag in tags
//-     meta(name="keywords" content=tag)
