
- var pageTitle = config.title || 'Hexo'
- if (is_home()) pageTitle = config.title || config.subtile || 'Hexo'
- if (is_post()) pageTitle = page.title || 'Hexo'
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
//- - if(theme.stylesheets) var stylesheets = theme.stylesheets
//- - if (is_current('/about') pageTitle += '啊哈哈哈'
//- - pageTitle += ' [ ' + config.title + ' ]'
        //- each url, label in theme.menu
doctype html
html(lang=config.language || theme.language)
  head
    include head.pug
    title= pageTitle
  body
    header#menu-outer.container-fluid(role="banner")
      nav#menu-inner.row.justify-content-center
        include header.pug
    .container
      #content-outer
        #content-inner
          if body
            div!= body
          else
            block content
    .container
      footer#bottom-outer(role="footer")
        #bottom-inner
          include footer.pug
    include ../components/backToTop.pug
    if theme.scripts !== null && theme.scripts.length > 0
        //- scripts list from config.yml
        each url in theme.scripts
          script(src=url)
    script(src=config.root + "lib/jquery-3.2.1.min.js")
    script(src=config.root + "lib/highlight/highlight.pack.js")
    script(src=config.root + "lib/backToTop.js")
    script(src=config.root + "js/glow.js")
